<!doctype html>
<html lang="en">

<head>
  <title>{{ content["_title"] | default("esparto", true) }}</title>
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📄</text></svg>">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">{{ content["org_name"] | default("esparto", false) }}</a>
    </div>
  </nav>

  <!-- GENERATED CONTENT START -->
  {% if "_rendered" in content %}
  {{ content["_rendered"] }}
  {% else %}
  <h4>There's nothing here...</h4>
  {% endif %}
  <!-- GENERATED CONTENT END -->

</body>

</html>