[tool.poetry]
name = "esparto"
version = "0.1.0.dev2"
description = "Simple toolkit for building minimal Bootstrap pages."
authors = ["Dominic Thorn <dominic.thorn@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = ">=3.6"
jinja2 = ">=2.10.1"
markdown = ">=3.1"
Pillow = ">=7.0.0"
beautifulsoup4 = {version = ">=4.9.3", optional = true}
prettierfier = {version = ">=1.0.3", optional = true}

[tool.poetry.dev-dependencies]
black = "^20.8b1"
flake8 = "^3.9.0"
pytest = "^6.2.2"
pyment = "^0.3.3"
mypy = "^0.812"
rope = "^0.18.0"
IPython = ">=7.3"
jedi = "0.17.2"

[tool.poetry.extras]
extras = ["beautifulsoup4", "prettierfier"]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
